@model RestaurantAdresViewModel

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/Contact/Index/form.css" rel="stylesheet" />
@*<link href="~/css/Contact/Index/map.css" rel="stylesheet" />*@

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        <p>@TempData["Message"]</p>
    </div>
}

<div class="container">
    <div class="head" style="text-align:center">
        <h2>Bizimle iletişime geçin.</h2>
        <p>Önerileriniz veya diğer konular hakkında bize mesaj bırakın.</p>
    </div>
    <div class="row">
        <div class="col-sm">
            <div id="map" style="height:400px; width:500px;">
                <script src="~/js/Contact/Index.js"></script>
                <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=@(ViewData["GoogleMapApiKey"])&callback=initMap&libraries=&v=weekly"
                        defer></script>
            </div>
            <br />
            @*Adress*@
            <div class="container">
                <div class="column">
                    @*<div class="col-md-2"><strong>Adres:</strong></div>*@
                    <p>Adres:</p>
                    <p>@Model.Neighborhood, @Model.StreetAndNu, @Model.District/@Model.City</p>
                    <p>@ViewBag.PhoneNumber</p>
                    <p>@ViewBag.Email</p>
                </div>
            </div>
        </div>

        <div class="col-sm">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "contact-form", action = "" }))
            {
                <form action="/action_page.php">
                    <label for="name">Adınız Soyadınız</label>
                    <input type="text" id="name" name="Name" placeholder="Ad Soyad..">
                    <label for="email">E-Mailiniz</label>
                    <input type="text" id="email" name="Email" placeholder="E-Mail Adresi..">
                    <label for="subject">Konu</label>
                    <input type="text" id="subject" name="Subject" placeholder="Konu..">
                    <label for="message">Mesajınız</label>
                    <textarea id="message" name="Message" placeholder="Bir şeyler yazın.." style="height:170px"></textarea>
                    <button type="submit" class="btn btn-dark btn-block">Mesaj Gönder</button>
                </form>
            }
        </div>
    </div>
</div>

